services:
  postgres:
    image: postgres
    container_name: postgres
    restart: always
    ports:
      - 5433:5432
    env_file:
      - ./projeto22-autoral-back-end/.env.test

  node:
    container_name: node
    build: ./projeto22-autoral-back-end
    ports:
      - 4000:4000
    depends_on:
      - postgres
    env_file:
      - ./projeto22-autoral-back-end/.env.test
